<p class="question">
ご意見・ご要望お待ちしております。
<br>
<br>
デベロッパのInstagram→
<a href="https://msng.link/o/?sho_010108=ig">こちらから</a>
<br>
<div class="question-form">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeToxxrrPXajmjmnHbFPW29_6sAZbsc7MnK7tGlxDsdKaheXw/viewform?embedded=true" width="640" height="1001" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>
</p>
<footer>
<p>Copyright © Sho Yoshikawa All Rights Reserved.</p>
<%= link_to "English", posts_question_en_path  %>
</footer>




