<p class="question">
We look forword to your opinions and requests!!!
<br>
<br>
Developer Instagram→
<a href="https://msng.link/o/?sho_010108=ig">Click here</a>
<br>
<div class="question-form">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScjWh0U1hcJYVlALq05J04ehCUbaASGj9EyI3zz3mafW8UZIg/viewform?embedded=true" width="640" height="1001" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>
</p>
<footer>
<p>Copyright © Sho Yoshikawa All Rights Reserved.</p>
<%= link_to "日本語", posts_question_path  %>
</footer>