.registration-container{
    font-size: 20px;
}

.registration-name{
    margin:0 0 10px 0;
    text-align:center;
    font-size:40px;
    padding-top: 10px;
    font-family: serif;
    text-shadow: 0 2px 4px grey;
 
}

.registration-text {
  margin-bottom: 0.5em;
  width: 100%;
  margin-top: 40px;
  letter-spacing: 0.2em;
}



.registration-text input[type='text']:focus {
    outline: none;

}

.registration-button{
    font-size: 50px;
    background: #f16272;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
    
}



  .registration-button:hover {
    background-color: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
  }

.login-backcolor2{
  background-color: rgb(245, 171, 171);
  height: 100px;
  
}


  input[type="password"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.6em;
    padding: .3em .3em;
    border-radius: 2px;
  }

  input[type="email"]{
    margin-top: 50px;
    width: 365px;
    height: 50px;
  }

  span {
    display:block;
    background: #F9A5A5;
    padding: 2px 5px;
    color: #666;
  }


  

  .form-wrapper {
    background: #fafafa;
    padding: 0 1em;
    max-width: 400px;
    height:500px;
    background: #e9e9e9;
    font: 400 87.5%/1.5em 'Open Sans', sans-serif;
    position: relative;
    }

    .alphanumeric{
      font-size: 15px;
    }
 
  
@media screen and (max-width:375px){
  .registration-container{
    font-size: 20px;
}

.registration-name{
    margin:0 0 10px 0;
    text-align:center;
    font-size:40px;
    padding-top: 10px;
    font-family: serif;
    text-shadow: 0 2px 4px grey;
 
}

.registration-text {
  margin-bottom: 0.5em;
  width: 100%;
  margin-top: 40px;
  letter-spacing: 0.2em;
}



.registration-text input[type='text']:focus {
    outline: none;

}

.registration-button{
    font-size: 50px;
    background: #f16272;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
    
}



  .registration-button:hover {
    background-color: #31c8aa;
    box-shadow: 0 3px 0 #23a188;
  }

.login-backcolor2{
  background-color: rgb(245, 171, 171);
  height: 100px;
  
}


  input[type="password"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.6em;
    padding: .3em .3em;
    border-radius: 2px;
  }

  input[type="email"]{
    margin-top: 50px;
    width: 365px;
    height: 50px;
  }

  span {
    display:block;
    background: #F9A5A5;
    padding: 2px 5px;
    color: #666;
  }


  

  .form-wrapper {
    background: #fafafa;
    padding: 0 1em;
    max-width: 400px;
    height:500px;
    background: #e9e9e9;
    font: 400 87.5%/1.5em 'Open Sans', sans-serif;
    position: relative;
    }

    .alphanumeric{
      font-size: 12px;
    }
 
  
}